{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 13
  },
  "rules": {},
  "overrides": [
    {
      "files": ["test/unit/**.js"],
      "extends": ["plugin:@vitest/legacy-recommended"],
      "plugins": ["@vitest"],
      "rules": {
        // TODO: update ESLint and fix vitest ESLint config
        "node/no-unsupported-features/es-syntax": "off",
        "node/no-unpublished-import": "off"
      }
    }
  ]
}
